apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: banking
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8081"
    prometheus.io/path: "/metrics"

spec:
  type: NodePort
  selector: 
    app: account-service
  ports:
    - name: http
      port: 81
      targetPort: 8081
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: banking
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8083"
    prometheus.io/path: "/metrics"
spec:
  type: NodePort
  selector: 
    app: transaction-service
  ports:
    - name: http
      port: 83
      targetPort: 8083
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: banking
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8082"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector: 
    app: auth-service
  ports:
    - name: http
      port: 82
      targetPort: 8082
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: banking
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3306"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector: 
    app: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP